.play-btn {
    width: 50px;
    position: relative;
    top: -60%;
    cursor: pointer;
    transition: 0.5s;
}

.video-text {
    position: relative;
    top: -45%;
}

.col-md-12 {
    &:hover {
        .play-btn {
            opacity: 1;
        }
    }
}

.img-responsive-16by9 {
    .img {
        display: block;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
    }
}