<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="img-responsive-16by9">
                {{content.field_eight_video_img}}
            </div>



            <div class="play-btn mt-5 mx-auto d-block" data-toggle="modal" data-target="#exampleModal" data-bs-whatever="@fat">
                {{content.field_eight_video_image_2}}
            </div>
            <h5 class="video-text text-white mb-1 ml-5 ">
                {{content.field_eight_video_text}}
            </h5>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content ">
                    <div class="modal-body ">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mFLLO0tjCyQ" allowfullscreen>
                            </iframe>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>