<!-- <div class="row mt-5 justify-content-center">
  <div class="col-4">
    <div class="row">
      <div class="col">
        <p class="item text-center py-5 bg-dark">Beratungs- <br />Leistung</p>
      </div>
      <div class="col">
        <p class="item text-center py-5 bg-dark">Digitales<br />Management</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col">
        <p class="item text-center py-5 bg-dark">Technik&<br />Finanzierung</p>
      </div>
      <div class="col">
        <p class="item text-center py-5 bg-danger">
          Sortiments- <br />Lösungen
        </p>
      </div>
    </div>
  </div>
  <div class="bg-dark mt-5 w-100" style="height: 150px"></div>
  <nav
    class="
      navbar
      w-100
      text-center
      justify-content-center
      mt-5
      bg-light
      navbar-light navbar-expand-sm
    "
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">über Transgourment</a>
      <a class="nav-item nav-link" href="#">Kontakt</a>
      <a class="nav-item nav-link" href="#">Impressum</a>
      <a class="nav-item nav-link" href="#">Datenschutz</a>
    </div>
  </nav>
  <div class="mt-5 mb-5 justify-content-center">
    <i class="fa fa-utensils text-danger">&nbsp;TRANSGoURMENT</i>
  </div>
</div> -->



<!-- start footer -->

<div class="row  mt-5 justify-content-center">
    <div class="col-4">
        <div class="row">
            <div class="col  ">
                <p class="item text-center py-5 bg-dark ">Beratungs- <br>Leistung</p>
            </div>
            <div class="col">
                <p class="item text-center py-5 bg-dark ">Digitales<br>Management</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col">
                <p class="item text-center py-5 bg-dark ">Technik&<br>Finanzierung</p>
            </div>
            <div class="col">
                <p class="item text-center py-5 bg-danger">Sortiments- <br>Lösungen</p>
            </div>
        </div>
    </div>
    <div class="bg-dark mt-5 w-100" style="height: 150px;"></div>
    <nav class="navbar w-100 text-center justify-content-center mt-5 bg-light navbar-light  navbar-expand-sm">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">über Transgourment</a>
            <a class="nav-item nav-link" href="#">Kontakt</a>
            <a class="nav-item nav-link" href="#">Impressum</a>
            <a class="nav-item nav-link" href="#">Datenschutz</a>
        </div>
    </nav>
    <div class="mt-5 mb-5 justify-content-center">
        <h6 class="text-danger"><i class="fa fa-utensils text-danger"></i>&nbsp;TRANSGoURMENT </h6>
    </div>



</div>


<!-- end footer -->