 {% include directory ~ '/templates/nav.html.twig' %} {# !this button showes only in the front page #} {#
<!-- start Button -->
<div>
    <div class="row justify-content-end">
        <a class="btn btn-danger button " href="#">
             Schnellkontakt
     </a>
    </div>
</div>
<!-- end Button -->#} {# ! #}
<!-- end Header -->