<nav class="navbar mw-100 navbar-expand-lg  navbar-dark bg-dark  d-flex">
    <a href="#" style="width: 2px;" class="navbar-brand">
        <h6><i class="fa fa-utensils"></i>&nbsp;&nbsp;&nbsp;Smart Cuisine</h6>
    </a>

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end " id="navbarNav">
        {{ drupal_menu('main') }}
    </div>
</nav>