<div>
    <nav class="container mw-100 navbar badge-dark navbar-dark px3" id="navBar">
        <a href="#" style="width: 2px;" class="navbar-brand">
            <h6><i class="fa fa-utensils"></i>&nbsp;&nbsp;&nbsp;Smart Cuisine</h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
     <span class="navbar-icon">
       <i class="fas fa-bars"></i>
     </span>
    </button>
        <div class="collapse navbar-collapse" id="myNav">
            {{ drupal_menu('main') }}
        </div>
    </nav>
</div>